# Node modules
backend/node_modules/

# Build output
backend/dist/
backend/build/

# TypeScript cache
backend/*.tsbuildinfo

# Logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Environment variables
backend/.env


# Python
smartdrive-extractor/uploads/
# Python bytecode
**/__pycache__/
**/*.pyc
**/*.py[cod]
**/$py.class

# Environment & credentials
**/.env
**/.venv/
**/smartdrive-service-account.json

# IDE and OS files
.idea/
.vscode/
*.swp
*~
.DS_Store